/* styles.css */

body {
  cursor: url("../public/circle.png"), auto;
  font-family: Avant Garde, sans-serif, serif;
  font-smoothing: antialiased !important;
  -webkit-font-smoothing: antialiased !important;
  background: #0d0d0d;
  color: #b7ab98;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

#scroll-container {
  height: 100vh;
  /* overflow: hidden; */
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes background1 {
  from {
    width: 200px;
  }
  to {
    width: 100px;
    height: 100px;
  }
}

.App {
  margin: 0;
  padding: 0;
}

.background {
  display: grid;
  width: 100%;
  height: 100vh;
  position: relative;
}

.circle {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(187, 126, 126, 0.3);
  transition: transform 0.1s ease-out;
}

.circle::before,
.circle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(rgba(237, 191, 191, 0.3), rgba(237, 191, 191, 0.3));
  opacity: 0.1;
}

.circle::before {
  top: -15%;
  left: -10%;
}

.circle::after {
  bottom: -10%;
  right: -10%;
}

#circle1 {
  top: 300px;
  left: 400px;
}

#circle2 {
  top: 500px;
  left: 600px;
}

#circle3 {
  top: 700px;
  left: 800px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content h1 {
  font-size: 2.5rem;
  color: #000;
}

.content p {
  font-size: 1.2rem;
  color: #000;
}

/* //////////////WHAT I DO //////////////////////////// */

.heading-mask {
  border-top: 1px solid hsla(38, 10%, 21%, 0.15);
  position: relative;
  cursor: default;
}

.heading-mask:last-child {
  border-bottom: 1px solid hsla(37, 18%, 66%, 0.15);
}

.heading-mask_el__deep {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.heading-mask_el__masking {
  background-color: rgba(235, 89, 57, 0.8);
  -webkit-clip-path: inset(50% 0 50% 0);
  clip-path: inset(50% 0 50% 0);
  pointer-events: none;
  /* position: relative; */
  color: aliceblue;
  transition: clip-path 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1;
}

.heading-mask.hover .heading-mask_el__masking {
  -webkit-clip-path: inset(0);
  clip-path: inset(0);
}

.heading-mask.hover .simple-masking_el .js-heading-mask_heading {
  color: red; /* Change this color as needed */
}

.simple-masking {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  /* padding: 25px; */
  padding: 0 5rem 0 5rem;
  position: relative;
  z-index: 3;
  height: 6rem;
}

.simple-masking_el {
  display: inline-block;
  position: relative;
  z-index: 4;
  /* color: aqua; */
  font-size: 4rem;
  top: -10px;
}

.simple-masking .is-deep,
.simple-masking .is-masking {
  display: inline-block;
  padding-right: 10px;
}

.simple-masking .is-deep {
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  z-index: 1;
}

.simple-masking .is-masking {
  --size: 100%;
  -webkit-clip-path: inset(0 var(--size) 0 0);
  clip-path: inset(0 var(--size) 0 0);
  position: relative;
  z-index: 4;
}

.is-anim-loading {
  opacity: 0;
}

.is-touch {
  user-focus: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  overflow: hidden;
  padding-left: 0 !important;
  padding-right: 12rem !important;
}

.desc {
  margin: 0;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  margin-left: 20px;
  color: #000;
  z-index: 4;
}

.heading-mask.hover .desc {
  opacity: 1;
}

.heading-mask_el__masking,
.content h1,
.content p {
  color: #000;
  z-index: 4;
}

/* //////////////// TESTIMONAL /////////////////////// */

/* Testimonials.css */

/* Testimonials.css */

/* Testimonials.css */

/* .testimonials {
  --item-size: 3.125rem;
  --arrow-size: 0.3125rem;
  --space-size: 0.625rem;
  --spacing-top: 3rem;
  --index: 0;
  padding-top: 2rem;
  position: relative;
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
  height: 100vh;
  overflow-y: scroll; 
}

@media (min-width: 768px) {
  .testimonials {
    --item-size: 5.9375rem;
    --arrow-size: 0.625rem;
    --space-size: 0.625rem;
    --spacing-top: 4rem;
    padding-top: 4rem;
  }
}

.testimonials_content_label {
  margin-bottom: 1.875rem;
  text-align: left;
  border-bottom: 1px solid #eb5939;
  padding-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .testimonials_content_label {
    margin-bottom: 2.1875rem;
  }
}

.testimonial-thumbs {
  margin-right: 1.5rem;
}

.testimonial-content-container {
  flex: 1;
}

.testimonial-content {
  margin-bottom: 2rem;
}

.testimonials_thumbs {
  position: relative;
}

.testimonials_thumbs_list {
  position: absolute;
  right: 0;
  top: var(--spacing-top);
}

.testimonials_thumbs_inner {
  position: relative;
}

.testimonial {
  border-top: 1px solid hsla(37, 18%, 66%, 0.15);
  padding: 2rem 0;
  display: flex;
  align-items: center;
  transition: opacity 0.4s ease-in-out;
}

.testimonial_inner {
  display: inline-block;
  max-width: 100%;
}

.testimonial_content {
  margin-bottom: 1.875rem;
  position: relative;
  flex-grow: 1;
}

@media (min-width: 768px) {
  .testimonial_content {
    margin-bottom: 3.125rem;
  }
}

.testimonial_content .line {
  padding-left: 1em;
}

.testimonial_content b {
  color: #eb5939;
  display: block;
  font-size: 3rem;
  left: 0;
  letter-spacing: -0.05em;
  line-height: 84%;
  margin-left: -0.05em;
  text-transform: uppercase;
  top: 0;
}

@media (min-width: 1200px) {
  .testimonial_content b {
    display: inherit;
    font-size: 4rem;
    margin-left: 0;
    position: absolute !important;
  }
}

.quote-mark {
  font-size: 2rem;
  color: #eb5939;
  margin-right: 1rem;
  flex-shrink: 0;
}

.testimonial_info {
  display: inline-block;
}

.testimonial_info_name {
  font-size: 1.25rem;
  color: #333;
}

.testimonial_info_position,
.testimonial_info_company {
  font-size: 1rem;
  color: #777;
}

.thumb-item {
  cursor: pointer;
  display: block;
  height: var(--item-size);
  width: var(--item-size);
}

.thumb-item_inner {
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.thumb-item_inner:before {
  background-color: #919191;
  border-radius: 50%;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  z-index: 1;
}

.thumb-item img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.thumb-item.is-active .thumb-item_inner:before {
  opacity: 0;
}

.testimonials_thumbs_flash {
  border-bottom: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid #eb5939;
  border-top: var(--arrow-size) solid transparent;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(calc(var(--index) * (var(--item-size) + 2 * var(--space-size)) + var(--item-size) / 2 + var(--space-size) - var(--arrow-size)));
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 0;
} */

/* ////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */
/* .testimonials {
  --item-size: 3.125rem;
  --arrow-size: 0.3125rem;
  --space-size: 0.625rem;
  --spacing-top: 3rem;
  --index: 0;
  padding-top: 2rem;
  position: relative;
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
  height: 100vh; 
  overflow-y: scroll; 
}

@media (min-width: 768px) {
  .testimonials {
    --item-size: 5.9375rem;
    --arrow-size: 0.625rem;
    --space-size: 0.625rem;
    --spacing-top: 4rem;
    padding-top: 4rem;
  }
}

.testimonials_content_label {
  margin-bottom: 1.875rem;
  text-align: left;
  border-bottom: 1px solid #eb5939;
  padding-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .testimonials_content_label {
    margin-bottom: 2.1875rem;
  }
}

.testimonial-thumbs {
  margin-right: 1.5rem;
}

.testimonial-content-container {
  flex: 1;
}

.testimonial-content {
  margin-bottom: 2rem;
}

.testimonial-image-container {
  position: fixed; 
  top: 20%; 
  right: 5%; 
  max-width: 150px;
  z-index: -1; 
}

.testimonial_image_wrapper {
  position: relative;
}

.testimonial_image {
  display: none;
  width: 100%;
  height: auto;
}

.testimonial_image.is-active {
  display: block;
}

.testimonials_thumbs {
  position: relative;
}

.testimonials_thumbs_list {
  position: absolute;
  right: 0;
  top: var(--spacing-top);
}

.testimonials_thumbs_inner {
  position: relative;
}

.testimonial {
  border-top: 1px solid hsla(37, 18%, 66%, 0.15);
  padding: 2rem 0;
  display: flex;
  align-items: center;
  opacity: 0.3; 
  transition: opacity 0.4s ease-in-out;
}

.testimonial_inner {
  display: inline-block;
  max-width: 100%;
}

.testimonial_content {
  margin-bottom: 1.875rem;
  position: relative;
  flex-grow: 1;
}

@media (min-width: 768px) {
  .testimonial_content {
    margin-bottom: 3.125rem;
  }
}

.testimonial_content .line {
  padding-left: 1em;
}

.testimonial_content b {
  color: #eb5939;
  display: block;
  font-size: 3rem;
  left: 0;
  letter-spacing: -0.05em;
  line-height: 84%;
  margin-left: -0.05em;
  text-transform: uppercase;
  top: 0;
}

@media (min-width: 1200px) {
  .testimonial_content b {
    display: inherit;
    font-size: 4rem;
    margin-left: 0;
    position: absolute !important;
  }
}

.quote-mark {
  font-size: 2rem;
  color: #eb5939;
  margin-right: 1rem;
  flex-shrink: 0;
}

.testimonial_info {
  display: inline-block;
}

.testimonial_info_name {
  font-size: 1.25rem;
  color: #333;
}

.testimonial_info_position,
.testimonial_info_company {
  font-size: 1rem;
  color: #777;
}

.thumb-item {
  cursor: pointer;
  display: block;
  height: var(--item-size);
  width: var(--item-size);
}

.thumb-item_inner {
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.thumb-item_inner:before {
  background-color: #919191;
  border-radius: 50%;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  z-index: 1;
}

.thumb-item img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.thumb-item.is-active .thumb-item_inner:before {
  opacity: 0;
}

.testimonials_thumbs_flash {
  border-bottom: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid #eb5939;
  border-top: var(--arrow-size) solid transparent;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(calc(var(--index) * (var(--item-size) + 2 * var(--space-size)) + var(--item-size) / 2 + var(--space-size) - var(--arrow-size)));
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 0;
}

.testimonial.is-active {
  opacity: 1;
} */

/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */
.testimonials {
  --item-size: 3.125rem;
  --arrow-size: 0.3125rem;
  --space-size: 0.625rem;
  --spacing-top: 3rem;
  --index: 0;
  padding-top: 2rem;
  position: relative;
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
  height: 100%;
  display: flex;
  /* scroll-behavior: auto; */
  flex-direction: column;
}

@media (min-width: 768px) {
  .testimonials {
    --item-size: 5.9375rem;
    --arrow-size: 0.625rem;
    --space-size: 0.625rem;
    --spacing-top: 4rem;
    padding-top: 4rem;
  }
}

.testimonials_content_label {
  margin-bottom: 1.875rem;
  text-align: left;
  border-bottom: 1px solid #eb5939;
  padding-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .testimonials_content_label {
    margin-bottom: 2.1875rem;
  }
}

.testimonial-thumbs-container {
  flex: 0 0 auto;
}

.testimonial-thumbs {
  position: sticky;
  top: 20%;
  max-width: 150px;
  z-index: 10;
  margin-left: -100px;
}

.testimonial-content-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}

.testimonial-content {
  margin-bottom: 2rem;
  flex: 1;
  padding-right: 200px;
  overflow: hidden;
}

.testimonials_thumbs {
  position: sticky;
  top: 20%;
  max-width: 150px;
  z-index: 10;
  margin-left: 800px;
}
.testimonials_thumbs_list {
  position: relative;
}

.testimonials_thumbs_inner {
  position: relative;
}

.testimonial {
  border-top: 1px solid hsla(37, 18%, 66%, 0.15);
  padding: 2rem 0;
  display: flex;
  align-items: center;
  opacity: 0.3;
  transition: opacity 0.4s ease-in-out;
}

.testimonial_inner {
  display: inline-block;
  max-width: 100%;
}

.testimonial-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.testimonial_content {
  /* margin-bottom: 1.875rem; */
  position: relative;
  flex-grow: 1;
  font-weight: 700;
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .testimonial_content {
    margin-bottom: 3.125rem;
  }
}

.testimonial_content .line {
  padding-left: 1em;
}

.testimonial_content b {
  color: #eb5939;
  display: block;
  font-size: 3rem;
  left: 0;
  letter-spacing: -0.05em;
  line-height: 84%;
  margin-left: -0.05em;
  text-transform: uppercase;
  top: 0;
}

@media (min-width: 1200px) {
  .testimonial_content b {
    display: inherit;
    font-size: 4rem;
    margin-left: 0;
    position: absolute !important;
  }
}

.quote-mark {
  color: #eb5939;
  display: block;
  position: relative;
  font-size: 7.5rem;
  left: 0;
  letter-spacing: -0.05em;
  line-height: 84%;
  margin-left: -0.05em;
  text-transform: uppercase;
  top: 50px;
}

.testimonial_info {
  display: inline-block;
}

.testimonial_info_name {
  font-size: 1.25rem;
  color: #333;
}

.testimonial_info_position,
.testimonial_info_company {
  font-size: 1rem;
  color: #777;
}

.thumb-item {
  cursor: pointer;
  display: block;
  height: var(--item-size);
  width: var(--item-size);
  margin-bottom: var(--space-size);
}

.thumb-item_inner {
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.thumb-item_inner:before {
  background-color: #919191;
  border-radius: 50%;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  z-index: 1;
}

.thumb-item img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.thumb-item.is-active .thumb-item_inner:before {
  opacity: 0;
}

.testimonials_thumbs_flash {
  border-bottom: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid #eb5939;
  border-top: var(--arrow-size) solid transparent;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(
    calc(
      var(--index) * (var(--item-size) + 2 * var(--space-size)) +
        var(--item-size) / 2 + var(--space-size) - var(--arrow-size)
    )
  );
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 0;
}

.testimonial.is-active {
  opacity: 1;
}

/* ///////////////////////////// */
/* ///////////////////////////// */
/* ///////////////////////////// */

.client_list {
  margin-bottom: 12.5rem;
  position: relative;
}

@media (min-width: 768px) {
  .client_list {
    margin-bottom: 28.7698412698vh;
  }
}

.client_list_3d {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.client_list_3d_inner {
  height: 150%;
  margin-left: -12.5rem;
  margin-top: -6.25rem;
  position: relative;
  width: 150%;
}

@media (min-width: 768px) {
  .client_list_3d_inner {
    height: 100%;
    margin-left: unset;
    margin-top: unset;
    width: 100%;
  }
}

.client_list_3d_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.moving-earth {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  transition: transform 0.1s linear; /* Smooth transition for rotation */
}

.client_list_3d canvas {
  display: block;
  height: 100%;
  width: 100%;
}

.is-touch .client_list_3d_image {
  display: block !important;
  height: 115%;
  left: 47%;
  position: absolute;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 115%;
}

@media (min-width: 768px) {
  .is-touch .client_list_3d_image {
    height: 130%;
    width: 130%;
  }
}

.is-touch .client_list_3d_image img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}

.client .heading-mask,
.client .heading-mask_el {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4.5rem;
}

@media (min-width: 768px) {
  .client .heading-mask,
  .client .heading-mask_el {
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
    display: block;
    height: unset;
  }
}

.client__red .client_content {
  width: 20.375rem;
}

@media (min-width: 768px) {
  .client__red .client_content {
    width: 96%;
  }
}

.client__red .client_content_desc {
  line-height: 103%;
  margin-top: -0.375rem;
}

.client__red .client_list {
  padding-top: 0.25rem;
}

.client__red .dots {
  opacity: 0;
}

.client__red .heading-mask_el {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .client__red .heading-mask_el {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.client__red .heading-mask,
.client__red .heading-mask:last-child {
  border-color: #0d0d0d;
}

.client__red .heading-mask__now {
  border-top: 1px solid #0d0d0d !important;
}

.client .dots {
  grid-gap: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  margin-top: 2.0625rem;
  position: relative;
}

@media (min-width: 768px) {
  .client .dots {
    padding-left: 0.625rem;
  }
}

.client .dots span {
  background: #b7ab98;
  border-radius: 50%;
  display: block;
  height: 0.5rem;
  width: 0.5rem;
}

@media (min-width: 768px) {
  .client .dots span {
    height: 0.75rem;
    width: 0.75rem;
  }
}

.container {
  position: relative;
  overflow: hidden;
}

.heading-mask {
  position: relative;
  z-index: 1;
}

.earth-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* //////////////////////// */
/* //////////////////////// */
/* //////////////////////// */

.sidebar_container {
  display: grid;
  /* justify-content: center; */
  /* align-items: center; */
  grid-template-columns: auto auto;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  /* height: 100vh; */
  z-index: 100;
}

.sidebar {
  display: grid;
  grid-template-rows: auto auto;
  z-index: 100;
}

.logo {
  position: fixed;
  top: 0;
  z-index: 100;

  padding: 15px;
  margin: 10px;
}

.contact {
  position: fixed;
  bottom: 8rem;
  z-index: 100;

  padding: 15px;
  /* margin: 10px; */
}

.contact div {
  padding: 10px;
  z-index: 100;
}

.info {
  position: fixed;
  right: 0;
  text-transform: uppercase;
  z-index: 100;
}

.info div {
  padding-right: 5px;
  margin: 10px;
  z-index: 100;
}

.icon a {
  padding: 8px;
  z-index: 100;
  width: 100px;
}

.icon a {
  position: relative;
  display: inline-block;
  /* transition: transform 0.5s ease-in-out;  */
  fill: var(#b7ab98);
  -webkit-transition: fill 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 100;
  transition: fill 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.icon a:hover * {
  border-radius: 50%;
  cursor: pointer;
  fill: #000;
  transition: fill 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: fill 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  /* transform: scale(1.2); */
  z-index: 100;
  background-color: #eb5939;
}

.video{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  object-fit: cover;
  overflow: hidden;
  margin-top: -1.2rem;
}

.video source{
  width: 150%;
  position: fixed;
  margin: -100px;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.audio{
  position: fixed;
  -webkit-transition: color .4s cubic-bezier(.165,.84,.44,1);
  transition: color .4s cubic-bezier(.165,.84,.44,1) ;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  bottom: calc(100vh - 65vh);
right: 0;
display: grid;
grid-template-rows: auto auto;
border: none;
color: #efddbf;
}

.audio button{
  display: flex;
  gap: 10px;
  background: none;
  text-decoration: none;
  border: none;
  color: #b7ab98;
  font-weight: 700;
  text-transform: uppercase;
  font-size: large;
}

.audio button:hover{
  color: #eb5939;
  transition: color .4s cubic-bezier(.165,.84,.44,1) ;
  background: none;
  text-decoration: none;
  border: none;
}


.footer_sound_list_item {
  color: #efddbf;
  display: block;
  text-transform: uppercase;
  position: fixed;
  /* font-weight: 800; */
  transition: color .4s cubic-bezier(.165, .84, .44, 1);
}

.content h1{
  font-size: 7rem;
  padding-bottom: -10px;
  text-transform: uppercase;
  font-weight: 800;
color: #F2F2F2;
line-height: 0.8;
}

.content span{
  color: #FF613D;
}


@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Optionally, add a vertical translation */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.animate__fadeInUp div {
  animation: fadeInText 0.5s ease forwards;
}

.animate__fadeInUp div:nth-child(1) {
  animation-delay: 0.5s;
}

.animate__fadeInUp div:nth-child(2) {
  animation-delay: 1s;
}

.animate__fadeInUp div:nth-child(3) {
  animation-delay: 1.5s;
}

.animate__fadeInUp div:nth-child(4) {
  animation-delay: 2s;
}

.animate__fadeInUp div:nth-child(5) {
  animation-delay: 2.5s;
}

.background_earth{
  display: grid;
  width: 100%;
  height: 100vh;
  position: relative;
}

.content_earth{
  position: absolute;
  width: 100%;
  top: 50%;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
